<html>
  <head>
    <title>Payroll System</title>
  </head>
  <body style="background-color:LightGray;">
    <h1>Payroll System Opt</h1>
    <form action="/" method="post">
      <label for="employeeID">Employee ID:</label>
      <input type="text" id="employeeID" name="employeeID" required><br><br>
      <label for="opt">Whats the operation ?</label>
      <select name="opt" id="opt">
       <option value="Create">Create</option>
       <option value="Read">Read</option>
       <option value="Update">Update</option>
       <option value="Delete">Delete</option>
      </select>
  <br><br>
      <input type="submit" value="Submit">
    </form>
    <table border="1">
      <tr>
        <th>Employee ID</th>
        <th>Regular Days</th>
        <th>Rate</th>
        <th>Regular Pay</th>
        <th>Overtimes</th>
        <th>Overtimes Pay</th>
        <th>Medical</th>
        <th>Canteen</th>
        <th>House</th>
        <th>Company Loan</th>
        <th>NET</th>
      </tr>
      {% for payrollDetail in payrollDetails %}
        <tr>
          <td>{{ payrollDetail[0] }}</td>
          <td>{{ payrollDetail[1] }}</td>
          <td>{{ payrollDetail[2] }}</td>
          <td>{{ payrollDetail[3] }}</td>
          <td>{{ payrollDetail[4] }}</td>
          <td>{{ payrollDetail[5] }}</td>
          <td>{{ payrollDetail[6] }}</td>
          <td>{{ payrollDetail[7] }}</td>
          <td>{{ payrollDetail[8] }}</td>
          <td>{{ payrollDetail[9] }}</td>
          <td>{{ payrollDetail[10] }}</td>

        </tr>
      {% endfor %}
    </table>
  </body>
</html>


